In [ ]:
name=input("enter your name:")
age=int(input("enter your age:"))
if age>=18:
      print(name)
      print("you are eligible")
else:
      print(name)
      print("not eligible")

In [ ]:
a=int(input("enter the value of a:"))
b=int(input("enter the value of b:"))
if a>b:
      
      print(a) 
      print("is greater")
else:
    
      print(b)
      print("is greater")

In [ ]:
a=int(input())
b=int(input())
c=int(input())
if a>b:
    if a>c:
        print(a ,"is greater")
    else:
         print(c,"is greater")
else:
    if b>c:
         print(b,"is greater")
    else:
         print(c,"is greater")

In [ ]:
marks=int(input("enter the marks:"))
if marks>=90 and marks<=100:
                print("grade = A+")
else:              
    if marks>=80 and marks<=90:
          print("grade = A")
    else:
          if marks>=70 and marks<=80:
             print("grade = B+")
          else:
                if marks>=60 and marks<=70:
                  print("grade = B")
                else:
                     if marks>=50 and marks<=60:
                        print("grade = C")
                     else:
                          if marks>=40 and marks<=50:
                            print("grade =D")
                          else:
                              if marks>=30 and marks<=40:
                                print("grade = E")
                              else:
                                  if marks>=0 and marks<=30:
                                    print("grade = F")
                                  else:
                                      print("invalid marks")

In [ ]:
marks=int(input("enter the marks:"))
match marks:
               case 1: if marks>=90 and marks<=100:
                       print("grade = A+")
               case 2: if marks>=80 and marks<=90:
                       print("grade = A")
               case 3: if marks>=70 and marks<=80:
                       print("grade = B+")
               case 4: if marks>=60 and marks<=70:
                       print("grade = B")
               case 5: if marks>=50 and marks<=60:
                       print("grade = C")
               case 6: if marks>=40 and marks<=50:
                       print("grade =D")
               case 7: if marks>=30 and marks<=40:
                       print("grade = E")
               case 8: if marks>=0 and marks<=30:
                       print("grade = F")
               case _: print("invalid marks")

In [3]:
days=int(input("enter the number:"))
match days:
           case 1:print("sunday")
           case 2:print("monday")
           case 3:print("tuesday")
           case 4:print("wednesday")
           case 5:print("thursday")
           case 6:print("friday")
           case 7:print("saturday")
           case _:print("invalid")

enter the number: 4

wednesday

In [1]:
x=0
while x<20:
    print(x)
    x=x+1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [2]:
for z in range(0,11):
     print(z)

0
1
2
3
4
5
6
7
8
9
10

In [22]:
for y in range(0,10):
      for x in range(0,y+1):
          print("*",end=" ")
      print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

In [21]:

a=0
b=1
n=int(input("enter the length of the series:"))
print(a,b,end=" ")
for x in range(0,n-2):
             c=a+b
             print(c,end=" ")
             a=b
             b=c

enter the length of the series: 10

0 1 1 2 3 5 8 13 21 34